<body>
  <h1>Add a book</h1>
  <form method="post" action="/addbook">
    <label for="isbn">ISBN</label><br />
    <input type="text" id="isbn" name="isbn" /><br />
    <label for="isbn">Title</label><br />
    <input type="text" id="title" name="title" /><br />
    <label for="isbn">Subtitle</label><br />
    <input type="text" id="subtitle" name="subtitle" /><br />
    <label for="isbn">Author</label><br />
    <input type="text" id="author" name="author" /><br />
    <label for="isbn">Published</label><br />
    <input type="text" id="published" name="published" /><br />
    <label for="isbn">Publisher</label><br />
    <input type="text" id="publisher" name="publisher" /><br />
    <label for="isbn">Pages</label><br />
    <input type="text" id="pages" name="pages" /><br />
    <label for="isbn">Description</label><br />
    <input type="text" id="description" name="description" /><br />
    <label for="isbn">Website</label><br />
    <input type="text" id="website" name="website" /><br />
    <input type="submit" value="Submit" />
  </form>
</body>
